// Global Colors
$black: #000000;
$black40: rgba(0, 0, 0, 0.40);
$black64: rgba(0, 0, 0, 0.64);
$black80: rgba(0, 0, 0, 0.80);
$white: #FFFFFF;
$white40: rgba(255, 255, 255, 0.40);
$white64: rgba(255, 255, 255, 0.64);
$white80: rgba(255, 255, 255, 0.80);
$pink1: #FEA4E2;
$pink2: #FB74C3;
$orange: #F97320;
$green: #2C7E45;
$yellow: #FBCD19;
$blue: #3A5FE9;
$purple: #7351EB;

// Themes
$themes: (
  'light': (
    'textColor': $black,
    'bgColor': $white,
    'bgMinimized': $white80,
    'iconColor': $black64,
    'logoImage': url('../images/logo-light.png'),
    'logoMinimizedImage': url('../images/logo-light-minimized.png'),
    'logoFooterImage': url('../images/logo-footer-light.png'),
    'switchIcon': url('../images/moon.svg'),
    'switchColor': $purple,
    'requirementsColor': $pink2,
    'downloadColor': $purple,
    'supportColor': $orange,
    'faqColor': $blue,
    'applicationImage': url('../images/application-light.png'),
    'ethereumFoundationImage': url('../images/ethereum-light.png'),
    'gitcoinGrantsImage': url('../images/gitcoin-light.png'),
    'cityDaoImage': url('../images/citydao-light.png'),
    'timerBackground': $black40,
  ),
  'dark': (
    'textColor': $white,
    'bgColor': $black,
    'bgMinimized': $black80,
    'iconColor': $white64,
    'logoImage': url('../images/logo-dark.png'),
    'logoMinimizedImage': url('../images/logo-dark-minimized.png'),
    'logoFooterImage': url('../images/logo-footer-dark.png'),
    'switchIcon': url('../images/sun.svg'),
    'switchColor': $yellow,
    'requirementsColor': $pink1,
    'downloadColor': $yellow,
    'supportColor': $orange,
    'faqColor': $blue,
    'applicationImage': url('../images/application-dark.png'),
    'ethereumFoundationImage': url('../images/ethereum-dark.png'),
    'gitcoinGrantsImage': url('../images/gitcoin-dark.png'),
    'cityDaoImage': url('../images/citydao-dark.png'),
    'timerBackground': $white40,
  )
);

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 1024px,
  lg: 1400px,
);

@each $theme-name, $properties in $themes {
  body.#{$theme-name} {
    // define a css variable for each property
    @each $name, $property in $properties {
      --#{$name}: #{$property};
    }
  }
}
