#features {
  margin-top: 72px;
  @include media-breakpoint-up(sm){
    margin-top: 96px;
  }
  @include media-breakpoint-up(md){
    margin-top: 160px;
  }

  .carousel {
    margin-top: 16px;
    @include media-breakpoint-up(sm){
      margin-top: 32px;
    }
    @include media-breakpoint-up(md){
      margin-top: 16px;
    }
  }

  .accordionContainer {
    width:100%;
    order: 1;
    @include media-breakpoint-up(md){
      width: 50%;
      order: 0;
    }
  }

  /* Style for the accordion carousel container */
  .accordion-carousel {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md){
      flex-direction: row;
    }
  }

  /* Style for the accordion items */
  .accordion-item {
    cursor: pointer;
    margin-top: 24px;
    display:none;

    @include media-breakpoint-up(md){
      display:block;
    }

    &.active {
      display: block;
      @include media-breakpoint-up(md){
        display:block;
      }
      .accordion-headline {
        color: var(--textColor)
      }
    }
  }

  /* Style for the accordion headlines */
  .accordion-headline {
    font-size: 32px;
    line-height: 38px;
    color: var(--iconColor);
    transition: all 0.3s;

    &.pink {
      &:hover {
        color: var(--requirementsColor);
      }
    }

    &.yellow {
      &:hover {
        color: var(--downloadColor);
      }
    }

    &.orange {
      &:hover {
        color: var(--supportColor);
      }
    }

    &.blue {
      &:hover {
        color: var(--faqColor);
      }
    }
  }

  /* Style for the accordion descriptions */
  .accordion-description {
    font-size: 16px;
    margin-top: 24px;
    line-height: 20px;
  }

  /* Style for the photo container */
  #photoContainer {
    position: relative;
    width: 100%;
    order: 0;
    background-position: center;
    @include media-breakpoint-up(sm){
      height: 445px;
    }
    @include media-breakpoint-up(md){
      width: 50%;
      order: 1;
      margin-left: 32px;
      height:auto;
    }
    background-color: var(--bgColor);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s;
    
    &.ui-01 {
      background-image: url('../images/feature-01.svg');
    }

    &.ui-02 {
      background-image: url('../images/feature-02.svg');
    }

    &.ui-03 {
      background-image: url('../images/feature-03.svg');
    }

    &.ui-04 {
      background-image: url('../images/feature-04.svg');
    }
  }

  /* Style for the photos */
  .photo {
    width: 80%;
    @include media-breakpoint-up(sm){
      width: 410px;
    }
    @include media-breakpoint-up(md){
      width: 80%;
      min-width: 410px;
    }
    margin: 0 auto;
  }

  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    @include media-breakpoint-up(md){
      display:none;
    }
  }

  .left-arrow {
    left: 5%;
  }

  .right-arrow {
    right: 5%;
  }

  .timer-background {
    display:none;
    @include media-breakpoint-up(md){
      display:block;
    }
    margin-top:24px;
    height: 2px;
    width: 100%;
    background-color: var(--timerBackground);
  }

  .responsiveTimer {
    display: flex;
    flex-direction: row;
    gap: 7.5px;
    @include media-breakpoint-up(md){
      display:none;
    }
    .timer-background {
      display: flex;
      width: 25%;
    }
  }

  /* Style for the timer bar */
  .timer-bar {
    width: 20%;
    height: 2px;
    background-color: var(--textColor);
    transition: all 1s;
  }
}
