#top {
  height: 1425px;

  .headerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 48px;
    margin-bottom: 45px;

    .headline-primary {
      font-size: 48px;
      line-height: 58px;
      @include media-breakpoint-up(sm){
        font-size: 76px;
        line-height: 90px;
      }
      @include media-breakpoint-up(md){
        font-size: 96px;
        line-height: 110px;
      }
      text-align: center;
    }

    .headline-secondary {
      font-size: 48px;
      line-height: 58px;
      @include media-breakpoint-up(sm){
        font-size: 76px;
        line-height: 90px;
      }
      @include media-breakpoint-up(md){
        font-size: 96px;
        line-height: 96px;
      }
      text-align: center;
      letter-spacing: -0.01em;
    }

    .header {
      font-size: 20px;
      line-height: 24px;
      margin-top: 24px;
      @include media-breakpoint-up(sm){
        font-size: 24px;
        line-height: 30px;
        margin-top: 32px;
      }
      @include media-breakpoint-up(md){
        font-size: 32px;
        line-height: 42px;
        margin-top: 48px;
      }
      text-align: center;
    }
  }

  .graphic {
    padding-top: 83px;
    height: 959px;
    background-image: url('../images/Graphic.svg');
    text-align: center;
    background-size: cover;
    // background-color: var(--textColor);
    // -webkit-mask-size: cover;
    // mask-size: cover;
    // -webkit-mask-image: url('../images/Graphic.svg');
    // mask-image: url('../images/Graphic.svg');

    .application {
      // margin-top: 83px;
      width: 1300px;
      height: 822px;
      background-image: var(--applicationImage);
      background-size: cover;
      margin: 0 auto;
      transition: all 0.4s;
    }
  }
}
