footer {
  margin-top: 80px;
  height: 418px;
  @include media-breakpoint-up(sm){
    margin-top: 96px;
    height: 495px;
  }
  @include media-breakpoint-up(md){
    margin-top: 120px;
    height: 541px;
  }
  background-image: var(--footerImage);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;

  .footer-logo {
    background-image: var(--logoFooterImage);
    background-size: 180px 128px;
    width: 180px;
    height: 128px;
    @include media-breakpoint-up(sm){
      background-image: var(--logoFooterImage);
      background-size: 216px 146px;
      width: 216px;
      height: 146px;
    }
    @include media-breakpoint-up(md){
      background-image: var(--logoFooterImage);
      background-size: 270px 160px;
      width: 270px;
      height: 160px;
    }
    transition: all 0.1s;
    margin: 0 auto;
  }

  .social-links {
    margin: 0 auto;
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  .copyright {
    margin: 0 auto;
    margin-top: 24px;
    width: fit-content;
    font-size: 20px;
    line-height: 24px;
    @include media-breakpoint-up(xs){
      font-size: 16px;
      line-height: 20px;
    }
  }
}