main {
  padding-top: 94px;

  .dynapuff {
    font-family: 'DynaPuff';
  }

  section:not(:first-child) {
    padding: 0px 48px;
  }

  section {
    h3 {
      font-size: 96px;
      line-height: 110px;
    }
  }

  #top {
    height: 1425px;

    .headerTextContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 48px;
      margin-bottom: 45px;

      .headline-primary {
        font-size: 96px;
        line-height: 110px;
        text-align: center;
      }

      .headline-secondary {
        font-size: 96px;
        line-height: 96px;
        text-align: center;
        letter-spacing: -0.01em;
      }

      .header {
        margin-top: 48px;
        width: 952px;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
      }
    }

    .graphic {
      padding-top: 83px;
      height: 959px;
      background-image: url('../images/Graphic.svg');
      text-align: center;
      background-size: cover;
      // background-color: var(--textColor);
      // -webkit-mask-size: cover;
      // mask-size: cover;
      // -webkit-mask-image: url('../images/Graphic.svg');
      // mask-image: url('../images/Graphic.svg');

      .application {
        // margin-top: 83px;
        width: 1300px;
        height: 822px;
        background-image: var(--applicationImage);
        background-size: cover;
        margin: 0 auto;
        transition: all 0.4s;
      }
    }
  }

  #statement {
    p {
      font-size: 76px;
      line-height: 91.2px;
    }

    .learn {
      font-size: 32px;
      line-height: 38.4px;
      margin-top: 64px;
    }
  }

  #features {
    margin-top: 160px;

    /* Style for the accordion carousel container */
    .accordion-carousel {
      display: flex;
      flex-direction: row;
      margin-top: 89px;
    }

    /* Style for the accordion items */
    .accordion-item {
      width: 500px;
      cursor: pointer;
      margin-top: 24px;

      &.active {
        .accordion-headline {
          color: var(--textColor)
        }
      }
    }

    /* Style for the accordion headlines */
    .accordion-headline {
      font-size: 32px;
      line-height: 38px;
      color: var(--iconColor);
      transition: all 0.3s;

      &.pink {
        &:hover {
          color: var(--requirementsColor);
        }
      }

      &.yellow {
        &:hover {
          color: var(--downloadColor);
        }
      }

      &.orange {
        &:hover {
          color: var(--supportColor);
        }
      }

      &.blue {
        &:hover {
          color: var(--faqColor);
        }
      }
    }

    /* Style for the accordion descriptions */
    .accordion-description {
      font-size: 16px;
      margin-top: 24px;
      line-height: 20px;
    }

    /* Style for the photo container */
    .photoContainer {
      width: 200px;
      margin-left: 132px;
    }

    /* Style for the photos */
    .photo {
      width: 488px;
    }

    .timer-background {
      margin-top:24px;
      height: 2px;
      width: 100%;
      background-color: var(--timerBackground);
    }

    /* Style for the timer bar */
    .timer-bar {
      width: 20%;
      height: 2px;
      background-color: var(--textColor);
      transition: all 1s;
    }
  }

  #requirements {
    margin-top: 118px;
    font-family: 'Satoshi-Bold';
    font-size: 24px;
    line-height: 30px;

    .asteriskNote {
      margin-top: 27px;
      font-size: 20px;
      line-height: 24px;
    }

    .asteriskContainer {
      margin-left:8px;
    }

    .asterisk {
      width: 16.5px;
      height: 16px;
    }

    .table {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
    }
    .table-row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 24px 0px;
      border-bottom: 2px solid var(--textColor);
      align-self: stretch;
      justify-content: space-between;
    }
    .table-cell {
      width:33%;
    }
  }

  #download {
    margin-top: 140px;

    .downloadHeader {
      font-size: 76px;
      line-height: 90px;
    }

    .releaseContainer {
      margin-top: 34px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }

    .downloadTilesContainer {
      margin-top: 72px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 32px;

      .downloadTile {
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 56px;
        border-radius: 100px;
        margin-right: 32px;
        width: 314px;
        height: 244px;

        .divider {
          margin-top: 20px;
          width: 100%;
          height: 2px;
          background-color: $white;
        }

        .downloadPlatform {
          margin-top: 24px;
          font-size: 40px;
          line-height: 48px;
        }

        .downloadType {
          font-size: 20px;
          line-height: 24px;
        }

        .downloadIcon {
          width: 40px;
          height: 40px;
          padding: 0;
        }

        &.macOs {
          background: $orange;

          .downloadIcon {
            background-image: url('../images/apple.svg');
          }
        }
        &.windows {
          background: $blue;

          .downloadIcon {
            background-image: url('../images/windows.svg');
          }
        }
        &.linux {
          background: $purple;

          .downloadIcon {
            background-image: url('../images/linux.svg');
          }
        }
      }
    }
  }

  #support {
    margin-top: 120px;
    h3 {
      margin-bottom: 32px;
    }
    p {
      font-size: 48px;
      line-height: 58px;

      span {
        background-size: cover;
        display: inline-block;
        background-repeat: no-repeat;

        &.ethereumFoundation {
          background-image: var(--ethereumFoundationImage);
          width: 29px;
          height: 48px;
        }

        &.gitcoinGrants {
          background-image: var(--gitcoinGrantsImage);
          width: 39px;
          height: 48px;
        }

        &.cityDao {
          background-image: var(--cityDaoImage);
          width: 47px;
          height: 48px;
        }
      }
    }
  }

  #faq {
    margin-top: 120px;

    .accordion {
      color: var(--textColor);
      background-color: transparent;
      cursor: pointer;
      padding: 32px 0px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      font-size: 40px;
      line-height: 48px;
      border-bottom: 2px solid var(--textColor);
      transition: 0.4s;

      &.pink {
        &:hover {
          color: $pink1;
        }
      }

      &.yellow {
        &:hover {
          color: $yellow;
        }
      }

      &.orange {
        &:hover {
          color: $orange;
        }
      }

      &.blue {
        &:hover {
          color: $blue;
        }
      }

      &.purple {
        &:hover {
          color: $purple;
        }
      }
    }
    .active {
      border-bottom: none;
      transition:none;
    }

    .panel {
      display: none;
      background-color: none;
      overflow: hidden;
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 30px;
      border-bottom: 2px solid var(--textColor);
    }
  }
}